<a href="https://colab.research.google.com/github/yunun0410/python_assignment/blob/main/Ch05_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<span style="font-size:100%">

수업은 모두 열심히 들으셨나요?

간혹 강의에서 언급되지 않은 내용이 문제로 나올 수 있습니다.<br>
그럴땐 강의 내용 외 문제는 구글링을 통해 해결해주세요<br></span>
<span style="font-size:80%">
(구글링 또한 개발자가 갖쳐야할 역량 중에 하나랍니다 😊)
</span>

---

### Chapter05 : `Python 변수에 대한 개념 복습하기`

<span style="font-size:80%">[문제1]<br><br></span>
```Python으로 변수를 생성하는 방법으로 올바른 것을 고르세요```

1. number == 20
2. 100 == number
3. number(7)
4. number = 7

<span style="color:red">답변</span>

답 : 4

1. number = 20
2. number = 100
3. number = 7

----

<span style="font-size:80%">[문제2]<br><br></span>
```다음 중 올바르지 않은 것을 골라주세요```

이름 = "김오즈"<br>
나이 = 14<br>
소속 = "마법중"<br>
등급 = 3<br>

1. 이름 + 소속
2. 나이 + 등급
3. 소속 + 등급

<span style="color:red">답변</span>

답 : 3

소속 -> str (문자열)

등급 -> int (숫자(정수))

타입이 다름

=> 소속 + str(등급)

----

<span style="font-size:80%">[문제3]<br><br></span>
```아래 변수의 type으로 올바른것을 골라주세요```

퀴즈 = "스페인에서 카리나를 보고 하는 말은?"<br>
type(퀴즈)

<span style="color:red">답변</span>

답 : str

----

<span style="font-size:80%">[문제4]<br><br></span>
```다음 중 변수 이름으로 사용할 수 없는 것을 모두 골라주세요```

1. 78abc
2. ABC
3. _ABC
4. _hello%2
5. for

<span style="color:red">답변</span>

답 : 1, 4, 5

1 : 78abc -> 7로 숫자가 먼저 사용

4 : _hello%2 -> % 특수문자 사용됨

5 : for -> 반복문 키워드

----

<span style="font-size:80%">[문제5]<br><br></span>
```다음 중 변수와 연산자의 사용 방법으로 올바르지 않은 것을 모두 골라주세요```

x = 3
y = 7

1. x = x + y
2. x // 2
3. z >< x
4. y += x
5. ++x

<span style="color:red">답변</span>

답 : 3 , 5

3 : z >< x -> z라는 변수 없음, ><라는 연산자 없음

5 : ++x -> ++라는 연산자 없음

----

### Chapter06 : `Python 자료형인 int와 float 개념 복습하기`

<span style="font-size:80%">[문제1]<br><br></span>
```실수를 정수로 만드는 식으로 올바른 것을 고르세요```

1. str(3.5)
2. int(3.5)
3. float(3.5)

<span style="color:red">답변</span>

답 : 2

1 : str -> 문자열

3: float -> 실수

----

<span style="font-size:80%">[문제2]<br><br></span>
```실수 3.5의 type과 동일한 것을 고르세요```

1. float(17//3)
2. int(10)-9
3. float11/2
4. float(10)-2

<span style="color:red">답변</span>

답 : 1, 4

2 : float(int(10) - 9),  int -> 정수, 정수 - 정수 = 정수

3 : float(11/2)

----

<span style="font-size:80%">[문제3]<br><br></span>
```type(3.0 + 7.0)의 결과로 올바른 것을 고르세요```

1. 10
2. 10.0
3. int
4. float

<span style="color:red">답변</span>

답 : 4

type() -> str, int, float 등 데이터타입 반환하는 내장함수를 의미함

1 : int(3.0 + 7.0) = 10

2 : float(3.0 + 7.0) = 10.0

3 : type(3 + 7) = int

----

<span style="font-size:80%">[문제4]<br><br></span>
```float(5)의 결과로 올바른 것을 고르세요```

1. 5
2. `<class float>`
3. 5.0
4. type error

<span style="color:red">답변</span>

답 : 3

float : 실수, 5의 실수 = 5.0

1 : 5 <- int(5)

----

<span style="font-size:80%">[문제5]<br><br></span>
```int(13 / 2)의 결과로 올바른 것을 고르세요```

1. 6.5
2. 1
3. 6
4. 6.0

<span style="color:red">답변</span>

답 : 3

int(13 / 2) -> int(6.5) -> 0.5는 버리고 정수가 되므로 6

1 : float(13 /2) = 6.5

2 : int(13 // 2) = 1

4 : float(int(13 / 2)) = 6.0

----

### Chapter07 : `Python 자료형인 str와 bool 개념 복습하기`

<span style="font-size:80%">[문제1]<br><br></span>
```변수 퀴즈에 들어있는 정답 "어중이떠중이"를 출력하기 위한 슬라이싱으로 올바른 것을 모두 골라주세요```

퀴즈 = "스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이"

1. print(퀴즈[22:27])
2. print(퀴즈[22:])
3. print(퀴즈[22:28])
4. print(퀴즈[28])

<span style="color:red">답변</span>

답 : 2, 3

어중이떠중이 -> '어' 22번째 인덱스

1 : 어중이떠중

4 : error -> 28은 없는 인덱스

----

<span style="font-size:80%">[문제2]<br><br></span>
```과일 변수에 들어있는 p의 개수를 구하는 코드로 올바른 것을 골라주세요```

과일 = "apple"

1. 과일.count('p')
2. count(과일, 'p')
3. 과일.index('p')
4. count('p')

<span style="color:red">답변</span>

답 : 1

2, 4 : count -> 의미하는 게 없음

3 : 과일.index('p') = 1

----

<span style="font-size:80%">[문제3]<br><br></span>
``` bool 타입에 해당하는 것만 골라주세요```

1. true
2. True
3. False
4. 0
5. 1

<span style="color:red">답변</span>

답 : 2, 3

----

<span style="font-size:80%">[문제4]<br><br></span>
```문자열의 길이를 구하는 방법으로 올바른 것을 고르세요```

라라랜드 =  "사람들은 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은 걸 상기시켜 주니까"

1. 라라랜드.len()
2. length(라라랜드)
3. len(라라랜드)
4. count(라라랜드)

<span style="color:red">답변</span>

답 : 3

----

### Chapter08 : `비교 연산자와 논리 연산자에 대해 복습해보기`

<span style="font-size:80%">[문제1]<br><br></span>
```비교 연산자의 결과로 올바르지 않은 것을 골라주세요```

1. 8 == 2 * 4&emsp;&emsp;결과 : True
2. 4 != 2 + 2&emsp;&emsp;결과 : False
3. 2 * 3 is 3 + 3&emsp;&emsp;결과 : True
4. 8 is 4 * 2.0&emsp;&emsp;결과 : True
5. 5 is 6 - 1.1&emsp;&emsp;결과 : False

<span style="color:red">답변</span>

답 : 4

8 is 4 * 2.0  결과 : False -> is는 값이 아닌 객체타입만 봄, 8은 정수 4 * 2.0 = 8.0으로 실수 타입이 다름

----

<span style="font-size:80%">[문제2]<br><br></span>
```"x는 5와 같지 않다"라는 뜻과 동일한 것을 골라주세요```

1. x <= 5
2. x != 5
3. x & 5
4. x ! 5

<span style="color:red">답변</span>

답 : 2

----

<span style="font-size:80%">[문제3]<br><br></span>
```비교 연산자와 논리 연산자의 결과로 올바른 것을 모두 골라주세요```

x = 10
y = 20

1. x == 10 or y == 10  결과 : False
2. x >= 10 and y < 30  결과 : True
3. not x == 10 결과 : False
4. y != 20 or x != 10  결과 : True
5. not y != 20 and x > 5  결과 : False

<span style="color:red">답변</span>

답 :  2, 3

1 : x == 10 -> True, y == 10 -> False => True or False = True

4 : y != 20 -> False, x !=10 -> False => False or False = False

5 : not y != 20 -> True, x > 5 -> True => True and True = True

----

<span style="font-size:80%">[문제4]<br><br></span>
```'치맥' and True의 결과로 올바른 것을 골라주세요```

1. False
2. 아묻따
3. True
4. 치맥True

<span style="color:red">답변</span>

답 : 3

'치맥' -> 문자열로 True, True and True = True

----

<span style="font-size:80%">[문제5]<br><br></span>
```논리 연산의 결과를 뒤집는 연산자를 골라주세요```

1. is not
2. not
3. !=
4. end
5. and
6. or

<span style="color:red">답변</span>

답 : 2